/*
*
* Overall design of this portfolio is inspired by Activity 28
* from Week 02 of this Bootcamp.
*
*/

/* Define color variables */
:root {
  --outer-space: #33393f;
  --contrast--yellow: yellow;
  --words-blue: cornflowerblue;
  --pure-black: black;
  --visited-link: grey;
}

/* Site structure */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--words-blue);
  background-color: var(--outer-space);
}

h1,
h2,
h3 {
  margin-bottom: 0.625rem;
  color: var(--words-blue);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-bottom: 1rem;
}

header {
  width: 100%;
  border: .25rem solid var(--contrast--yellow);
  position: sticky;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 2.5rem;
  z-index: 99;
  background-image: url("../images/header-background.jpg");
}

#about {
  height: 100%;
  width: 100%;
  margin-bottom: 5rem;
  background-size: cover;
  background-position: center;
}

#projects {
  padding-top: 2rem;
  margin-top: -2rem;
}

#emphasized-project {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
}

nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-top: -1rem;
}

ul {
    list-style-type: none;   
}

li {
    display: inline-block;
    margin-left: 3rem;
}

header h1.page-title {
  padding: 1rem 1.2rem;
  font-size: 4.5rem;
}

main {
  width: 96%;
  margin: 2rem auto;
  margin-bottom: 10rem;
}

section img {
  width: 20rem;
  float: right;
  margin-left: 10rem;
}

footer {
  width: 100%;
  border: .25rem solid var(--contrast--yellow);
  text-align: center;
  background-image: url("../images/header-background.jpg");
}

/* Default hyperlink colors changed to fit scheme and hover mods */
a .center {
  margin: .1rem;
  text-align: center;
}

a:link {
  color: var(--contrast--yellow);
}

a:visited {
  color: var(--visited-link);
}

a:hover {
  background-color: aqua;
  color: var(--pure-black);
}

/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.justify-center {
  justify-content: center;
}

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

/* make each code card a flexbox column to align and justify content within it */
.code-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: var(--words-blue);
  background-color: var(--pure-black);
  /* outline is like border, but on the outside of the box instead of inside */
  outline: 2px dashed var(--contrast--yellow);
  outline-offset: -.5rem;
  transition: all 0.5s ease-in-out;
}

.code-card .card-header {
  /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--pure-black);
  color: var(--words-blue);
  border: 2px solid var(--contrast--yellow);
  border-radius: .5rem;
  transition: all 0.5s ease-in-out;
}

/* each card's code block grows to the height of the largest code block on the page, making each card even in height */
.code-card .code-block {
  flex-grow: 1;
}

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}


<h2 class="card-header">Joke Translator</h2>
<div class="card-body">
  <p>1st major group poject in bootcamp:  interactive website dependent on two external server-side APIs</p>
</div>
<a class="center" href="#"
  target="_blank"><img src="./assets/images/joke-translator.jpg" 
  alt="Screenshot of Joke Translator app" class="center">